.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 100px;
}

h1{
  font-size: 4rem ;
}
button{
    font-size: 1.7rem;
    font-weight: bold;
    padding: 10px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5 ease;
}
.add-button{
  background-color: rgb(45, 222, 13) ;
} 
.add-button:hover{
  background-color: rgb(50, 138, 35) ;

}

.delete-btn{
  background-color: rgb(236, 48, 48);
} 
.delete-btn:hover{
  background-color: rgb(157, 20, 20);
} 


.up-btn{
  background-color: rgb(69, 69, 240);
}
.up-btn:hover{
  background-color: rgb(24, 24, 146);
}

.down-btn{
  background-color: rgb(254, 165, 0);
}
.down-btn:hover{
  background-color: rgb(145, 97, 8);
}

input[type="text"]{
  font-size: 1.6rem;
  padding: 10px;
  border: 2px solid gray;
  color: black;
}

ol{
  padding: 0;
}
li{
  font-size: 2rem;
  padding: 15px;
  background-color: whitesmoke;
  margin-bottom: 10px;
  border: 3px solid rgb(100, 98, 98);
  border-radius: 5px;
  display: flex;
  align-items: center;
}

.text{
  flex-grow: 1;
}

.delete-btn , .move-btn{
  
}